<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntai.web.mapper.YtPermsMapper">
    <select id="getPerms" resultType="com.yuntai.web.domain.entity.YtPerms" parameterType="java.util.List">
        select
        b2.*
        from
        yt_perms_role b1
        left join
        yt_perms b2
        on
        b1.perms_id = b2.perms_id

        <where>
            b1.role_id
            in
            <foreach collection="list" item="role" open="(" close=")" separator="," >
                #{role.roleId}
            </foreach>
        </where>

    </select>


</mapper>
