<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntai.web.mapper.YtRoleMapper">
    <select id="getRole" resultType="com.yuntai.web.domain.entity.YtRole" parameterType="java.lang.String">
        select
        b2.*
        from
        yt_role_user b1
        left join
        yt_role b2
        on
        b1.role_id = b2.role_id

        <where>
            b1.username = #{username}
        </where>

    </select>


</mapper>
